<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Arrays in Thymeleaf</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/> 
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
<body class="container">
<th:block th:if="${edit}">
 <h1 class="text-primary">Edit Form</h1>
</th:block>
<th:block th:if="${edit}==false">
 <h1 class="text-primary">add new store Form</h1>
</th:block>
 
 <form th:object="${store}" th:action="@{/api/store/{id}(id=${store.uuid})}" method="post">
  <div class="form-group">
    <label for="url">url</label>
    <input type="text" class="form-control" id="url" th:field="*{url}" name="url" >
    <small th:if="${#fields.hasErrors('url')}"  th:errors="*{url}"  >error</small>
  </div>
  <div class="form-group">
    <label for="description">description</label>
    <input id="description" type="text" class="form-control" th:field="*{description}" name="description">
    <small th:if="${#fields.hasErrors('description')}"  th:errors="*{description}"  >error</small>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="reset" class="btn btn-success">Reset</button>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 
 <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
 <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>